*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  /*   ////////////////////////////////////// CONTENEDOR DE TODO ////////////////////////////////// */
  
  .containerGral{
  /*   border: 10px solid red; */
    max-width: 95%;
    margin: 0 auto;
  }

   /*   ////////////////////////////////////// HEADER ////////////////////////////////// */
   header {
    /* align-items: start; ¿flex-start? */
    justify-content: space-between;
    border-bottom: 0.0625em solid rgba(128, 128, 128, 1);
    background-color:#374493;
    display: flex;
    gap: 0;
    font-family: Poppins, sans-serif;
    font-size: 1em; /* Parece no incidir en nada. */
    font-weight: 600;
    padding: 0.5em 1em;
    align-items: center;
  }
  
  /* Contenedor del logo y nombre del sitio. */
  .site-name {
    display: flex;
  }
  /*
  @media (max-width: 991px) {
    .header {
      flex-wrap: wrap;
    }
  }
  */
  .logo {
    aspect-ratio: 1.2;
    object-fit: auto;
    object-position: center;
    width: 6em;
    max-width: 100%;
  }
  
  .site-title {
    font-family: Montserrat, sans-serif;
    /* align-items: start; */
    color: #fff;
    /* justify-content: center; */
    margin: auto 0;
    padding: 0.3125em 2em 0.3125em 0;
    /* padding: 0.3125em 2.1875em; */
    /* font-size: 1em; */
  }
  
  .nav-container {
    display: flex;
    /* margin-top: 1.60em; */
    margin: auto 1em auto 0;
    /* gap: 1.25em; */
    justify-content: space-between;
    /* line-height: 150%; HACE ALGO ??? */
    color: #f8f9ff;
    z-index:1;
  }
  /*
  @media (max-width: 991px) {
    .nav-container {
      max-width: 100%;
      flex-wrap: wrap;
    }
  }
  */
  
  .nav-list {
    display: flex;
    gap: 1.25em;
    justify-content: space-between;
    list-style-type: none;
  }
  
  .nav-list a {
    color: inherit;
    text-decoration: none;
    /* display: block; HACE ALGO ??? */
  }
  
  .nav-list a:hover {
    border-bottom: solid 3px #67AEC9;
    /* border-radius: 0.1875em; */
    border-radius: 0.2em;
    padding-bottom: 3px;
  }
  
  .open-menu,
  .close-menu{
    display:none;
  }
  
  /* .open-menu{
    width: 1em;
    height: 1em;
  } */
  
  @media screen and (max-width: 768px){
    .open-menu,
    .close-menu{
      display: block;
    }
  
    .nav-container{
      opacity:0;
      visibility:hidden;
  
    }
  
    .nav-container{
      display:flex;
      flex-direction: column;
      align-items: end;
      gap: 1rem;
      position:absolute;
      top:0;
      right: 0;
     /*  bottom: 0; */
      padding: 2rem;
      background-color:#374493;
      box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    }
  
    .nav-container.visible{
      opacity: 1;
      visibility: visible;
    }
    .nav-list {
      flex-direction: column;
      align-items: end;
    }
  }

 /*   ////////////////////////////////////// BODY ////////////////////////////////// */

body{
  background-color: #F2F2F2
}

.header2{
    margin: auto;
    max-width: 100%;
  }
  
  .back{
    display: flex;
    justify-content: left;
    width: 100%;
    height: 5em;
    background-color: #F2F2F2
  }
  
  .wordback{
    font-size: 18px;
    font-weight: 600;
    color: #354393;
    text-decoration: none;
    align-items: center;
    font-family: Poppins, sans-serif;
    margin-top: 27px;
    margin-left: 6px;
    transition: 0.1s;
  }
  
  .wordback:hover{
  transform: scale(1.1);
  color: #49B3BF
  }
  
  .arrowback{
    display: flex;
    margin-top: 0;
    margin-left: 20px;
    object-fit: scale-down;
    color: #354393;
  }
  
  .Uni-title{
    font-family: Poppins, sans-serif;
    font-size: 25px;
    font-weight: 800;
/*     margin-top: 30px;
    margin-left: 450px; */
    margin: 20px auto;
   color: #354393;
   letter-spacing: 0.5px;
  }
  
.filters{
  font-family: Poppins, sans-serif;
  font-size: 20px;
  color: white;
  margin-left: 20px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.dropdown-filters{
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.dropdown-list{
  display: flex;
  font-family: Poppins, sans-serif;
  font-size: 15px;
  color: white;
  margin-left: 20px;
  list-style: none;
  align-items: center;
}

.img-dropdown{
  display: flex;
  margin-left: auto;
  align-items: center;
}

.sidebar{
  display: flexbox;
  float: left;
  background-color: #354393;
  width: 18%;
  height: 1908px;
  padding: 0 25px;
  padding-top: 0.1em;
  padding-bottom: 30em;
  margin-top: 25px;
  border-top-right-radius: 12px;
}

.box-background{
  background-color: white;
  float: left;
  padding: 25px;
  padding-top: 30px;
  margin-left: 80px;
  margin-top: 30px;
  width: 72%;
  position: relative;
}

.logo-UniC img{
  display: flex;
  float: left;
}

.datos{
  display:inline-block;
  justify-content: center;
  align-items: center;
  font-family: Poppins, sans-serif;
}

.datos .title h1{
  display: inline-block;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 30px;
  margin-left: 80px;
}

.adress{
  display: flex;
  justify-content: left;
  align-items: center;
  margin-left: 80px;
  padding-top: 20px;
}

.phones{
  margin-left: 80px;
  padding-top: 30px;
}

.phones .celphone{
  display: flex;
  float: left;
  justify-content: center;
  align-items: center;
  margin-right: 15.8em;
}

.phones .telphone{
  display: flex;
  float: left;
  justify-content: center;
  align-items: center;
}

.contact{
  margin-left: 82px;
  padding-top: 50px;
}

.contact .email{
  display: flex;
  float: left;
  justify-content: center;
  align-items: center;
  margin-right: 8em;
}

.contact .web{
  display: flex;
  float: left;
  justify-content: center;
  align-items: center;
}

.web a{
  color: black;
}

.web a:hover{
  color: gray;
}

.datos img{
  margin-right: 8px;
  width: 25px;
  height: auto;
  object-fit: scale-down;
}

.info p{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 30px;
  padding: 5px;
  font-family: Poppins, sans-serif;
  font-size: 15px;
}

.mision-vision h3{
  display: flex;
  justify-content: left;
  align-items: center;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 5px;
  padding: 5px;
  font-family: Poppins, sans-serif;
  font-size: 17px;
}

.mision-vision p{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 30px;
  padding: 5px;
  font-family: Poppins, sans-serif;
  font-size: 15px;
}

.modality-uni h3{
  display: flex;
  justify-content: left;
  align-items: center;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 5px;
  padding: 5px;
  font-family: Poppins, sans-serif;
  font-size: 17px;
}

.modality-uni .presencial{
  display: flex;
  justify-content: left;
  align-items: center;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 5px;
  padding: 5px;
  font-family: Poppins, sans-serif;
  font-size: 17px;
}

.modality-uni img{
    margin-right: 8px;
    width: 25px;
    height: auto;
    object-fit: scale-down;
}

.modality-uni .distancia{
  display: flex;
  justify-content: left;
  align-items: center;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 5px;
  padding: 5px;
  font-family: Poppins, sans-serif;
  font-size: 17px;
}

.oferta-dropdown h3{
  display: flex;
  justify-content: left;
  align-items: center;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 5px;
  margin-top: 40px;
  padding: 5px;
  font-family: Poppins, sans-serif;
  font-size: 17px;
}

hr{
  display: flex;
  float: left;
  height: 4px;
  width: 40%;
  margin-left: 30px;
  background-color: #354393;
}

.oferta-dropdown ul{
  display: flex;
  flex-direction: column;
  margin-top: 35px;
  margin-left: 32px;
  font-family: Poppins, sans-serif;
  font-size: 15px;
  gap: 1em;
  color: #354393;
  font-weight: 600;
}

.lista-ofertas{
  list-style: none;
  justify-content: left;
  align-items: center;
}

.lista-ofertas img{
  align-items: center;
  height: auto;
  width: 18px;
}

.instalaciones h3{
  display: flex;
  justify-content: left;
  align-items: center;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 5px;
  margin-top: 150px;
  padding: 5px;
  font-family: Poppins, sans-serif;
  font-size: 17px;
}

.img-campus img{
  display: flex;
  margin: auto;
  justify-content:center;
  align-items: center;
  height: auto;
  width: 700px;
  margin-top: 40px;
}

.ph-instalaciones{
  display: flex;
  justify-content:center;
  align-items: center;
}

.ph-instalaciones img{
  display: flex;
  margin: auto;
  justify-content:center;
  align-items: center;
  height: 200px;
  width: auto;
  margin-top: 40px;
  margin-bottom: 50px;
}

.footer{
  display: flex;
  float: left;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #374493;
  color: #e8e8e8;
  font-weight: 400;
  width: 100%;
  height: 18em;
  margin-top: 20px;
  margin-bottom: 0;
  padding-bottom: 25px;
  padding-top: 20px;
}

.footer h1{
  font-family: Poppins, sans-serif;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  margin-bottom: 15px;
  font-size: 40px;
  
}

.footer p{
  font-family: Poppins, sans-serif;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  margin-bottom: 15px;
  font-size: 16px;
  letter-spacing: 0.5px;
}


/* REDES SOCIALES */

.social-buttons {
  margin: 2% 0 0 0;
  width: 30%;
  padding: 3%;
  /* background-color: #ebebeb; */
  position: relative;
  border-radius: 15px;
}

.social-buttons-list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  display: flex;
}

.social-buttons-list li {
  list-style: none;
}

.social-buttons-list li a {
  display: block;
  position: relative;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  /* color: #404040; */
  color: white;
  margin: 0 20px;
  transition: .5s;
}

.social-buttons-list li a span {
  position:absolute;
  transition: transform .5s;
}

/* Líneas superior e inferior de cada ícono. */
.social-buttons-list li a span:nth-child(1),
.social-buttons-list li a span:nth-child(3) {
  width: 100%;
  height: 2px;
  /* background: #404040; */
  background: white;
}

.social-buttons-list li a span:nth-child(1) {
  top: 0;
  left: 0;
  transform-origin: right;
}

.social-buttons-list li a:hover span:nth-child(1) {
  transform: scaleX(0);
  transform-origin: left;
  transition: transform .5s;
}

.social-buttons-list li a span:nth-child(3) {
  bottom: 0;
  left: 0;
  transform-origin: left;
}

.social-buttons-list li a:hover span:nth-child(3) {
  transform: scaleX(0);
  transform-origin: right;
  transition: transform .5s;
}

/* Líneas laterales a cada ícono. */
.social-buttons-list li a span:nth-child(2),
.social-buttons-list li a span:nth-child(4) {
  width: 2px;
  height: 100%;
  /* background: #404040; */
  background: white;
}

.social-buttons-list li a span:nth-child(2) {
  top: 0;
  left: 0;
  transform: scale(0);
  transform-origin: bottom;
}

.social-buttons-list li a:hover span:nth-child(2) {
  transform: scale(1);
  transform-origin: top;
  transition: transform .5s;
}

.social-buttons-list li a span:nth-child(4) {
  top: 0;
  right: 0;
  transform: scale(0);
  transform-origin: top;
}

.social-buttons-list li a:hover span:nth-child(4) {
  transform: scale(1);
  transform-origin: bottom;
  transition: transform .5s;
}

.facebook:hover {
  color: #3b5998;
}

.facebook:hover span {
  background: #3b5998;
}

.twitter:hover {
  color: #1da1f2;
}

.twitter:hover span {
  background: #1da1f2;
}

.instagram:hover {
  color: #c32aa3;
}

.instagram:hover span {
  background: #c32aa3;
}

/* .social-buttons-list li a .twitter {
  color: #1da1f2;
}

.social-buttons-list li a:hover:nth-child(3) {
  color: #c32aa3;
} */

